        <%- include('header') %>
        <h2>
            Editar vaga: 
            <a href="/admin/categorias">Categorias</a>
            <a href="/admin">Admin</a>
        </h2>
        <div>
            <form method="POST">
                <label>Descrição:</label>
                <input type="text" name="categoria" value="<%= categoria.categoria %>"/>
                <br />
                <br />
                <span>Vaga(s) para esta categoria</span>
                <ul>
                    <% vagas.forEach(vaga =>{ %><li><%= vaga.titulo %></li><% }) %>
                </ul>
                <br />
                <button>Gravar categoria</button>
            </form>
        </div>
        <%- include('footer') %>